server:
  port: 8081

spring:
  application:
    name: user-service
#  config:
#    import: optional:configserver:http://localhost:8888
#  cloud:
#    config:
#      uri: http://localhost:8888
  datasource:
    url: jdbc:mysql://mysqldb:3307/userdb?useSSL=false&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/